.api-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-bar {
  display: flex;
  background-color: #f1f1f1;
  border-bottom: 0.063rem solid #ddd;
  overflow-x: auto;
}

.tab {
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-right: 0.063rem solid #ddd;
  background-color: #e9e9e9;
  position: relative;
  white-space: nowrap;
}

.tab.active {
  background-color: #fff;
  border-bottom: 0.125rem solid #007bff;
}

.close-tab {
  background: none;
  border: none;
  color: #999;
  font-size: 1rem;
  margin-left: 0.625rem;
  cursor: pointer;
}

.close-tab:hover {
  color: #333;
}

.add-tab {
  padding: 0.625rem 1.25rem;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.add-tab:hover {
  background-color: #ddd;
}

.tab-content {
  flex-grow: 1;
  padding: 1.25rem;
  overflow-y: auto;
}
