.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-bar {
  background-color: #000408;
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  padding: 0.625rem;
  position: relative;
}

.app {
  height: 100%;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 12.5rem; /* Ensure this matches the width in Sidebar.css */
  background-color: #000408;
  color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* Prevents shrinking */
  border-right: 0.063rem solid grey;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-wrapper {
  flex: 1;
}

.error-message {
  padding: 0.625rem;
  color: orange;
}

/* SignInPage.css */

/* Container for the entire sign-in page */
.sign-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5; /* Light background color */
}

/* Box containing the sign-in content */
.sign-in-box {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 25rem;
  width: 100%;
}

/* Sign-in header */
.sign-in-box h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}
.sign-in-box p {
  margin-bottom: 1rem;
  color: #757575;
}
.sign-in-box .welcome {
  font-size: 10.5rem;
  color: black;
}

/* Google sign-in button */
.google-sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background-color: #ffffff; /* White background for Google button */
  color: #757575; /* Grey text color */
  border: 0.063rem solid #dcdcdc; /* Light grey border */
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin: 1.875rem auto;
}

/* Google G logo in the button */
.google-logo {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.5rem;
}

/* Button text */
.button-text {
  color: #757575;
}

/* Button hover effect */
.google-sign-in-button:hover {
  background-color: #f7f7f7;
}
