.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-bar {
  background-color: #000408;
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  padding: 10px;
  position: relative;
}

.app {
  height: 100%;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px; /* Ensure this matches the width in Sidebar.css */
  background-color: #000408;
  color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* Prevents shrinking */
  border-right: 1px solid grey;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-wrapper {
  flex: 1;
}

.error-message {
  padding: 10px;
  color: orange
}